/* Add a black background color to the top navigation */
@font-face {
    font-family: Spartan-League;
    src: url("leaguespartan-bold.ttf"); /* IE9 Compat Modes */
    src: url("leaguespartan-bold.woff") format("woff"), /* Modern Browsers */
         url("leaguespartan-bold.ttf")  format("truetype"), /* Safari, Android, iOS */
    
}
body {
  font-family: Spartan-league;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100vw;
}

body div {
  max-width: 100vw;
}

nav {
  background-color: black;
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

nav a {
  color: white;
}

nav a:hover {
  background-color: white;
  color: black;
}

.navbar-brand:hover {
  background-color: black;
}

/* Style the links inside the navigation bar */

/* Style the logo */ 

a .active {
  max-height: 50px;
}

.logoImg {
  max-width: 50px;
}

.logoText {
  max-width: 150px;
}

.logo {
  max-height: 50px;
}

.logo {
  max-height: 50px;
}


/* Yellow Top border */
main {
    border-top: 0.4vh solid #ffd700;
    border-bottom: 0.4vh solid #ffd700;
    background-image: url("sanhattan.jpg");
    background-size: cover;
    
}

.trustTitle h4 {
  margin-bottom: 0;
}

.grow {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15vh;
    margin-right: 12vw;
    min-width: 20vw;
    align-content: center;
    margin-left: 15vw;
}

.grow h3 {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 3vw;
    padding-right: 3vw;
    margin: 0;
    border: 0.4vh solid #fdd209;
    color: #fdd209;
    text-justify: center;
    text-align: center;
}

 a {
    text-decoration: none;
    color: white;
    
}

 .button button {
  cursor: pointer;
  background: #0564F6;
  background-color: #0564F6;
  box-shadow: 5px 10px 8px #888888;
  padding: 4vh 8vw;
  margin-bottom: 5vh;
  border-radius: 15vh;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.button:hover {
  background: #0552CA;
  box-shadow: 5px 10px 8px #888888;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-size: cover;
    align-content: center;
    text-align: center;
    color: #cdb193;
    background-color: black;
}

footer ul {
    list-style-type: none;
    align-items: horizontal;
    margin: 0;
    padding: 0;
}

footer ul li {
    padding: 0;
    margin: 0;
    color: #ffd700;
    display: inline;
    
}

footer ul li a {
  color: #ffd700;
}

footer a {
  text-decoration: none;
  color: white;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 750px) {
    body {
        margin: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav"
        "content"
        "trustTitle"
        "enterprises"
        "text"
        "planes"
        "footer";
        max-width: 100vw;

    }

  nav {
    max-width: 100vw;
  }

  nav div {
    margin-right: 0;
  } 
  

    .trustTitle, .confianza, .text, .planes, .button  {
      margin: 5vh 2vw;
      min-width: 100vw;
    }


    img {
      max-width: 99vw;
    }

    main {
        min-height: 60vh;
        grid-area: content;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Costanera_Center_at_evening.jpg/413px-Costanera_Center_at_evening.jpg");
        background-attachment: scroll;
        min-width: 100vw;
    }
    main h3 {
      margin-top: 35vh;
      margin-left: 5vw;
      
    }

    .grow {
      margin: 0;
      max-width: 100vw;
    }

    .grow h3 {
      color: #fdd209;   
    }

  

    .trustTitle {
      display: none;
      grid-area: trustTitle;
      text-align: center;
      margin: 5vh 0;
    }

    .confianza {
      display: none;
      grid-template-columns: 1fr 1fr 1fr;
      grid-area: enterprises;
      grid-gap: 1vw;
      text-align: center;
      margin: 0;

    }

    .sura {
    background-image: url("suraLogo.png");
    background-size: contain;
    background-repeat: none;
    min-height: 50px;
    max-height: 50px;
  }

  .ccu {
    background-image: url("ccuLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 50px;
    max-height: 50px;
  }

  .geeks {
    background-image: url("geeksLogo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 50px;
    max-height: 50px;
  }



  

    .imgSize img {
      max-width: 30vw;
    }



    .text {
      grid-area: text;
      text-align: center;
      margin: 0;
    }

    .text p {
      text-align: center;
    }

    .planes { 
      grid-area: planes;
      text-align: center;
      margin: 0;
    }

    .main-links {
      margin-top: 2.5vh;
    }

    .unete {
      margin-left: 5vw;
    }

    .limits {
      text-align: center;
      margin: 5vh 0;
    }

    
    .contacto {
      margin-right: 5vw;
    }

    #findus {
      margin-bottom: 1vh;
    }

    .lineheight {
      line-height: 5%;
    }

    .descPlan {
    font-size: 0.9rem;
   
  }

  .left, .right {
    text-align: center;
  }

  .left h3, .right h3 {
    margin-top: 5vh;
  }

  .left img, .right img {
    margin: 1vh 0;
  }

  .left ul {
    padding: 0;
    text-align: center;
  }

  .right ul {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .planes ul {
    list-style-type: none;
    text-align: center;
  }

  .planes ul li {
    font-size: 1rem;
    margin: 0;
    position: relative;
  }



   .button {
    text-align: center;
    margin: 5vw 0;
  }

    footer {
      display: grid;
      grid-template-columns: 1fr;
      padding: 5vh 0vw;
    }

    footer ul li {
        font-size: 4vh;
    }
}

/* for medium sized devices: */ 

@media only screen and (min-width: 750px) {

  
  body {
    max-width: 100vw;
    margin: auto;
    align-content: center;
    display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav"
        "content"
        "trustTitle"
        "enterprises"
        "text"
        "planes"
        "footer";
    }

  .logo {
    max-height: 50px;
  }

  .margenwn {
    margin-top: 2vh;
  }

  
  main {
    min-height: 40vh;
    max-width: 100vw;
  }
 

  .planes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 99vw;
    grid-gap: 1vw;
  }

  .planes div {
    border: 1px solid #fdd209;
    grid-gap: 5vw;
  }

  .planes img {
    max-width: 48.5vw;

  }

  .planes ul {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 5vh;
  }

  .descPlan {
    font-size: 0.8rem;
  }

  .button button {
    margin-top: 5vh;
  }


  footer {
    padding-top: 5vh;
    padding-bottom: 10vh;
  }

}

@media only screen and (min-width: 992px) {

  body {
    max-width: 100vw;
    text-align: center;
    margin: auto;
    align-content: center;
    display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav"
        "content"
        "trustTitle"
        "enterprises"
        "text"
        "planes"
        "footer";
    }

    .nav {
      max-width: 100vw;
    }

    main {
      min-height: 65vh;
      min-width: 100vw;
      margin: auto;
      padding:0;
      background-image: url("santiagodesktop.jpg");
      color: white;
    }

    .grow {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 0;
    }



    .grow .firstTitle h3 {
      font-size: 2rem;
      color: white;
      padding: 5vh 5vw;
    }
    
    .trustTitle {
      margin: 5vh 0vw;
    }
  
  .confianza {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5vw;
  }

  .sura {
    background-image: url("suraLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 300px;
  }

  .ccu {
    background-image: url("ccuLogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 250px;
  }

  .geeks {
    background-image: url("geeksLogo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 300px;
  }

  .margenSura {
    margin-top: 0;
    margin-bottom: 50px;
    
  }

  .margenCCU {
    margin-top: 45px;
  }

  .margen4geeks {
    
  }

  .limits {
    margin: 5vw 0;
  }

  .text {
    margin-bottom: 5vw;
  }

  .planes {
    margin: auto;
    max-width: 100vw;  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5vw;
    font-size: 1.5rem;
  }

  .planes ul {
    list-style-type: none;
  }

  .planes h3 {
    margin-top: 2.5vw;
  }

  .planes img {
    max-width: 45vw;
    padding: 0;
    margin: 0;
  }

  .left {
    border: 1px solid #ffd700;
    max-width: 45vw;
    text-align: center;
  }

  .left ul {
    text-align: left;
    margin-left: 31%;
  }

  .left ul li {
    margin: auto;

  }

  .right {
    max-width: 45vw;
    border: 1px solid #ffd700;
  }


  .right ul {
    justify-content: start;
    margin-left: 31%;
  }

  .right ul li {
    margin: auto;

  }

  .planes ul {
    margin: 2.5vh 0;
    padding: 0;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 5vh;
  }

  .descPlan {
    font-size: 1.25rem;
    margin: 0 2.5vw;
  }

  .button:hover {
    background-color: white;
  }

  .button button {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 1.25rem;
  }



  footer {
    min-width: 100vw;
    margin: 0;
    background-size: cover;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  footer ul li {
    font-size: 1.5rem;
    margin: 0 0.5vw;
  }

}


  