
@font-face {
    font-family: Montserrat;
    src: url("leaguespartan-bold.ttf"); /* IE9 Compat Modes */
    src: url("leaguespartan-bold.woff") format("woff"), /* Modern Browsers */
         url("leaguespartan-bold.ttf")  format("truetype"), /* Safari, Android, iOS */
}

@font-face {
    font-family: Montserrat;
    src: url("Montserrat-Regular.ttf"); /* IE9 Compat Modes */

}


body {
  font-family: Montserrat;
  margin: 0;
  font-weight: normal!important;
  
}

body, main, a, p, li, button, h5 {
  font-family: Montserrat;
}

nav {
  background-color: black;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  
  
}

nav a:hover {
  background-color: white;
  color: black;
}

.navbar-brand:hover {
  background-color: black;
}

.nivelButton {
  cursor: pointer;
  background: #0564F6;
  background-color: #0564F6;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 15vh;
  color: white;
  padding: 2vh 1vw;
  margin: 1vh 1vw;
  font-size: 2rem;
}

.nivelButton:hover {
  background: #0552CA;
  box-shadow: 5px 10px 8px #888888;
}

.jumbotron {
  margin-top: 2rem;
  background-color: #fdd209;
  justify-content: center;
  text-align: center;

}

button h5 {
  color: black;
}

.card-body {
  background-color: white;
}



.card-body {
  padding-bottom: 0;
  text-justify: distribute-all-lines;
  font-family: Montserrat;
}

.horasTitle {
  text-align: left;
}

button {
  font-family: Montserrat;
}

.planesbutton:hover, .nivelButton:hover {
  cursor: pointer;
}

.header {
  font-weight: bold;
}

p {
  font-weight: normal!important;
}

.accordion {
  font-weight: normal!important;
}

.card {
  font-weight: normal!important;

}

.accordion > .card > .collapse > .card-body {
  font-weight: normal!important;
}

.accordion > .card > .collapse > .card-body > p {
  font-weight: normal!important;
}

.font-weight-normal {
  font-weight: normal!important;
}

.topnav {
  background-color: Black;
  overflow: hidden;
  border-bottom: 0.4vh solid #ffd700;
}

/* Style the links inside the navigation bar */

/* Style the logo */ 

a .active {
  max-height: 50px;
}

.logoImg {
  max-width: 50px;
}

.logoText {
  max-width: 150px;
}





/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: black;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.logo {
  max-height: 50px;
}

.logo {
  max-height: 50px;
}

.container h2 {
  margin: 2vh 0vw;
}

.planesbutton {
  margin: 2.5vh 0;
  border-radius: 5vh;
  padding: 5vh 1vw;
  background-color: #0564F6;
  color: white;
}

footer {
    border-top: 0.4vh solid #ffd700;
}

.card-body {
    text-align: left;
    font-family: Montserrat;
}

.card-header {
  text-align: left;
}

.coursesList {
  margin-top: 0;
}

.coursesList {
  text-align: center;
}

.coursesList .btn {
  text-align: left;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-size: cover;
    align-content: center;
    text-align: center;
    color: #cdb193;
    background-color: black;
    padding: 5vh 0;
    font-family: Montserrat;
}

.footerlink {
  font-size: 1rem;
}

footer ul {
    list-style-type: none;
    align-items: horizontal;
    margin: 0;
    padding: 0;
    padding-top: 2vh;
}

footer ul li {
    padding: 0;
    margin: 0vh 1vw;
    color: #ffd700;
    display: inline;
    font-size: 2rem;
    
}

footer ul li a {
  color: #ffd700;
  font-size: 2rem;
}

footer a {
  text-decoration: none;
  color: white;
}

.wwuSpacing {
  margin-top: 3vh;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 750px) {
    body {
        margin: 0;
        display: grid;
        grid-template-areas: 
        "nav"
        "content"
        "footer";
        font-weight: normal;
    }

    .navbar-toggler {
    padding: 0.1em 0.5em;
  }
  .navbar-toggler-icon {
    width: 1em;
  }


  .card, .card-header, .card-body h5, ul li, p, a {
    font-size: 40px;
    text-align: justify;
  }


  button h5 {
    font-size: 40px;
  }

  #explicando4sesions {
    font-size: 2.5rem;
    margin: auto;
    font-family: Montserrat;
  }



   footer {
      display: grid;
      grid-template-columns: 1fr;
      padding: 5vh 0;
    } 

    footer ul li {
        font-size: 4vh;
    }
}

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
 
  body {
    font-weight: normal;
  }

  p {
    font-weight: normal;
  }

  .navbar-toggler {
    padding: 0.1em 0.5em;
  }
  .navbar-toggler-icon {
    
    width: 1em;
  }

  h2 button {
    font-size: 2rem;
  }

  .btn {
    vertical-align: text-top;
    font-size: 2rem;
  }

  .card {
    font-size: 3rem;
  }

  main .card, .card-header, .card-body h5, li, p {
    font-size: 2rem;
  }

#explicando4sesions {
    font-size: 4rem;
    margin: auto;
    font-family: Montserrat;
  }

  
  
}

@media only screen and (min-width: 350px) {
  
.logo {
  max-height: 50px;
}

  .join {
    margin-left: 4vw;
  }

  .margenwn {
    margin-top: 2vh;
  }

  .logoText {
    max-width: 250px;
  }

  .logoImg {
    max-width: 75px;
  }

  .nav-link {
    font-size: 2rem;
    font-family: Montserrat;
  }

  main {
    min-height: 100vh;
  }

  main h1 {
    font-size: 5vh;
  }

  .main-links {
    margin-top: 10vh;
  }

  .main-links h4 {
    font-size: 2.5vh;
  }

  .planes {
    border-left: 0.75vw solid#ffd700;
    border-right: 0.75vw solid #ffd700;  
  }

  main > .card, .card-body h5, p, li {
    font-size: 2rem;
  }

  .card-header h2 button h5 {
    font-size: 1.5rem;
  }

  #explicando4sesions {
    font-size: 2rem;
    margin: auto;
    font-family: Montserrat;
  }

  nav li {
    font-size: 1rem;
  }

  #explicando4sesions {
    font-size: 2rem;
    margin: auto;
    font-family: Montserrat;
  }


  footer {
    padding-top: 5vh;
    padding-bottom: 10vh;
    
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 719px) {
.links {
    display: flex;
    float: right;
}

#explicando4sesions {
    font-size: 2.5rem;
    margin: auto;
    font-family: Montserrat;
  }


#explicando4sesions {
    font-size: 2.5rem;
    margin: auto;
    font-family: Montserrat;
  }



}

@media only screen and (min-width: 992px) {


.topnav a {
        display: inline;
        vertical-align: middle;
    }

    
.logo {
  max-height: 50px;
}

    .links {
    display: flex;
    float: right;
    padding-right: 10%;
}

    #linkStyle {
      text-decoration: none;
    }

    a {
      text-decoration: none;
    }

    main {
        max-width: 992px;
        text-align: center;
        margin: 0 15%;
    }

    .card-header {
      max-height: 10vh ;
}

    .coursesList {
        text-align: center;
        
        
    }

    .card, .card-header, .card-body h5, li, p {
    font-size: 1.5rem;
  }

  #explicando4sesions {
    font-size: 2.5rem;
    margin: auto;
    font-family: Montserrat;
  }

  #explicando4sesions h5 {
    font-size: 2rem;
  }

    

footer {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    background-size: cover;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

}

body {
  max-width: 100vw;
  margin: 0 0;
}

.card-body {
  text-align: center;
}

.card-body ul {
  text-align: left;
}